<div class="w-full h-full flex flex-col" *ngIf="contadorStore.vm() as vm">
  <nav class="relative flex items-center px-2 py-2 bg-[#343a40]">
    <a class="inline-block py-1 mr-4 text-xl text-[#fff]">
      Angular State Manager
    </a>
    <ul class="flex pl-0 pb-0 list-none mr-auto mt-2">
      <li [routerLinkActive]="'active'">
        <a class="text-[#fff] px-2 inline-block" [routerLink]="'/todos'">Todos</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a class="text-[#fff] px-2 inline-block" [routerLink]="'/counter'">Counter
          <span class="text-[#212529] bg-[#f8f9fa] inline-block py-1 text-[75%] leading-none rounded font-bold px-1.5">{{vm.contador}}</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="grow">
    <!--
    SPA -> single page application
    -->
    <router-outlet></router-outlet>
  </div>
</div>
